
<div name="inventoryTables">

    <div>
        <h2>Master List</h2>
        <div class="scrollable" style="width: 40%">
        
            <ul>
                <li *ngFor="let ingredient of allIngredients; let i = index">
                    <mat-checkbox (change)="toggleIngredientMaster(i)">
                        {{ ingredient.superType}}, {{ ingredient.type }}, {{ ingredient.subType }}
                    </mat-checkbox>
                </li>
            </ul>
        
        </div>
    </div>
    
    <div>
        <h2>User List</h2>
        <div class="userScrollable" style="width: 40%">
            
            <ul>
                <li *ngFor="let uIngredient of userIngredients; let i = index">
                    <mat-checkbox (change)="toggleIngredientUser(i)">
                        {{ uIngredient.superType}}, {{ uIngredient.type }}, {{ uIngredient.subType }}
                    </mat-checkbox>
                </li>
            </ul>
            
        </div>
    </div>

    <div>
        <button mat-raised-button onclick (click)="addCheckedIngredients()">Add Items to User List</button>
        <button mat-raised-button onclick (click)="removeCheckedIngredients()">Remove Items From User List</button>
    </div>
    
</div>
    



