.inventoryTables {
    border: 1px solid black;
    padding: 20px;
}

.masterlist {
    width: 50%;
    float: left;
    padding: 20px;
}

.scrollable {
    overflow: scroll;
    height:800px;
    margin-top:20px
}

.userlist {
    width: 50%;
    float: left;
    padding: 20px;
}

.userScrollable {
    overflow: scroll;
    height:800px;
    margin-top:20px
}
