
<div name="inventoryTables">

    <div class="masterlist">
        <h2>Master List</h2>
        <button class="add" mat-raised-button onclick (click)="addCheckedIngredients()">Add Items to User List</button>
        <div class="scrollable">
        
            <ul>
                <li *ngFor="let ingredient of allIngredients; let i = index">
                    <mat-checkbox (change)="toggleIngredientMaster(i)">
                        {{ ingredient.superType}}, {{ ingredient.type }}, {{ ingredient.subType }}
                    </mat-checkbox>
                </li>
            </ul>
        
        </div>
    </div>
    
    <div class="userlist">
        <h2>User List</h2>
        <button class="remove" mat-raised-button onclick (click)="removeCheckedIngredients()">Remove Items From User List</button>
        <div class="userScrollable">
            
            <ul>
                <li *ngFor="let uIngredient of userIngredients; let i = index">
                    <mat-checkbox (change)="toggleIngredientUser(i)">
                        {{ uIngredient.superType}}, {{ uIngredient.type }}, {{ uIngredient.subType }}
                    </mat-checkbox>
                </li>
            </ul>
            
        </div>
    </div>
    
</div>
    



